<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To-Do Lists</title>
</head>
<body>
    <h1>Your To-Do Lists</h1>

    <form method="POST">
        {% csrf_token %}
        <input id="id_new_item" name="item_text" placeholder="Enter a new item">
    </form>
    <table id="id_list_table" >
        {% for item in items %}
        <tr><td>{{forloop.counter}}: {{ item.text }}</td></tr>
        {% empty %}
        <tr><td>Nothing</td></tr>
        {% endfor %}

    </table>
</body>
</html>